/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.headingStyle {
    background-color: purple;
    color: white;
    padding: 1rem;
    text-align: center;
}

.card{
    background: #ffda77;
    box-shadow: 2px 4px 4px gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: 390px;
    display: inline-block;
}

.cardTitle {
    text-align: center;
    margin-bottom: 5px;
}

.cardDesc {
    text-align: justify;
    margin-bottom: 5px;
}

.cardFooter {
    text-align: center;;
}

nav {
    background-color: purple;
    padding: 1rem;
    justify-content: center;
    font-size: 1.5rem;
    display: flex;
}

.nav-link {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.nav-link:hover {
    color: orange;
}

nav .active {
    color: red;
}